#root {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--color-Background);
}

.appContainer {
    width: 100%;
    margin-top: -32px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appLoadContainer {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.appLoadContainer .spinner {
    width: 300px;
    height: 300px;

    border: 35px solid var(--color-Line);
    border-top: 35px solid var(--color-Primary);
    border-radius: 50%;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
